# {{ ansible_managed }}
# ~/.gnupg/gpg-agent.conf

enable-ssh-support
grab
default-cache-ttl {{ gpg_default_cache_ttl }}
max-cache-ttl {{ gpg_max_cache_ttl }}
pinentry-program /usr/bin/pinentry-curses
