# {{ ansible_managed }}
[Unit]
Description=Decrypt sops secrets to tmpfs

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart={{ user_home }}/.local/bin/decrypt-secrets
ExecStop=/usr/bin/rm -rf {{ secrets_dir }}

[Install]
WantedBy=default.target
