# {{ ansible_managed }}
# ~/.config/git/config

[user]
	name = {{ git_user_name }}
	email = {{ git_user_email }}

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-{{ catppuccin_flavor }}
	navigate = true
	side-by-side = true
	syntax-theme = Catppuccin Macchiato

[include]
	path = ~/.config/git/catppuccin-delta.gitconfig
